<div class='container'>
    <!-- typo -->
    
    <div class="grid_3 grid_5 agileinfo">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a class="" href="/add-product">Add Materials</a></li>
            <li><a class="" href="/edit-pwd?type=vendor">Change password</a></li>
            <li>
                <form action="/logout" method="post">
                    <button class="btn btn-primary" type="submit">Logout</button>
                </form>
            </li>
        </ol>
    </div>
    <div class="grid_3 grid_5 wthree">
        
        <div class="col-md-10 w3-agileits">
            <h3>Analysis of your profile </h3>
            <div class="list-group list-group-alternate">
                <a href="#" class="list-group-item"><span class="badge">{{productLength}}</span> <i class="ti ti-email"></i> Total Products</a>
                <a href="#" class="list-group-item"><span class="badge badge-primary">5021</span> <i class="ti ti-eye"></i>Profile visits </a>
                <a href="#" class="list-group-item"><span class="badge">{{messagesLen}}</span> <i class="ti ti-comments"></i>Messages </a>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <H3>Messages</H3>
        {{#if messagesSent}}
            {{#each messagesSent}}
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h5 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#{{this._id}}" aria-expanded="false" aria-controls="{{this._id}}">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i
                                        class="glyphicon glyphicon-minus" aria-hidden="true"></i>Message from {{ this.name }}
                                </a>
                            </h5>
                        </div>
                        <div id="{{this._id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"
                            aria-expanded="false" style="height: 0px;">
                            <div class="panel-body panel_text">
                                {{this.message}}
                                <p>Phone number:{{this.phone}}</p>
                                <address>{{this.address}}</address>
                                <form action="/remove-message" method="POST">
                                    <input type="hidden" value="{{this._id}}" name="messageId">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                    
            {{/each}}
        
            {{ else }}
              <p>No message present</p>
        {{/if}}

        </div>
    </div>
    <br> <br>

    <div class="container">
        <h2 class="typoh2">Added building Materials</h2>
        
        
        
        <div class="bs-docs-example">
            <table class="table">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if products}}
                    {{#each products}}
                    <tr>
                        <td>1</td>
                        <td>{{this.name}}</td>
                        <td>{{this.description}}</td>
                        <td>#{{this.price}}</td>
                        <td>
                            <a class="fa fa-pencil" href="/{{this._id}}">Edit</a>
                            <form action="/delete-product" method="POST">
                                <input type="hidden" value="{{this._id}}" name="productId">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                    {{ else }}
                    <h3><i>No products found</i></h3>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>

    
</div>
